<h2>El modelo: Pruebas D2</h2>

<ul>
    <li><a href="{{ path('CursoPruebaDoctrineBundle_custom', {'_controller': 'CursoPruebaDoctrineBundle:Default:listadoOfertas'}) }}">DQL: Listado simple</a></li>
</ul>

