<h2>El modelo: Pruebas D2</h2>

<ul>
    <li><a href="{{ path('CursoPruebaDoctrineBundle_custom', {'_controller': 'CursoPruebaDoctrineBundle:Default:listadoOfertas'}) }}">DQL: Listado simple</a> :: listadoOfertasAction</li>
    <li><a href="{{ path('CursoPruebaDoctrineBundle_custom', {'_controller': 'CursoPruebaDoctrineBundle:Default:listadoOfertasWithJoins'}) }}">DQL: Listado más complejo</a> :: listadoOfertasWithJoins</li>
    <li><a href="{{ path('CursoPruebaDoctrineBundle_custom', {'_controller': 'CursoPruebaDoctrineBundle:Default:dqlCount'}) }}">DQL: Contador de resultados</a> :: dqlCountAction</li>
    <li><a href="{{ path('CursoPruebaDoctrineBundle_custom', {'_controller': 'CursoPruebaDoctrineBundle:Default:hidratandoUnArreglo'}) }}">Modos de Hidratación: Trayendo resultados en un arreglo</a> :: hidratandoUnArregloAction</li>
</ul>
<ul>
    
</ul>

