{% for item in collection %}
<ul>

    {% for column in columns %}
        {% if attribute(item, column) %}
            <li>{{ attribute(item, column) }}</li>
        {% endif %}
        
    {% endfor %}
           
    {% if column_date is defined %}
        <li>{{ attribute(item, column_date) | date }}</li>
    {% endif %}    
</ul>
{% endfor %}

